<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <title>MARGOULIN</title>
</head>
<body>
    <h1>Adddddddd</h1>
    <main>
         

<form action="/api/add-posts/" method="POST">
    
                <textarea name="title"></textarea>
                 <select name="type">
                <option value="IMG">IMG</option>
                <option value="VID">VID</option>
                <option value="TXT">TXT</option>
                </select>   
                <button type="submit">Valide steup'</button>
            </form>

            
    </main>
</body>
</html>